@font-face{
	font-family: Akzidenz;
	font-display: swap;
	src: url("../fonts/Akzidenz-grotesk-black.woff2") format("woff2"), url("../fonts/Akzidenz-grotesk-black.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Akzidenz;
	font-display: swap;
	src: url("../fonts/Akzidenz-grotesk-bold.woff2") format("woff2"), url("../fonts/Akzidenz-grotesk-bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Akzidenz;
	font-display: swap;
	src: url("../fonts/Akzidenz-grotesk-light.woff2") format("woff2"), url("../fonts/Akzidenz-grotesk-light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Akzidenz;
	font-display: swap;
	src: url("../fonts/Akzidenz-grotesk-roman.woff2") format("woff2"), url("../fonts/Akzidenz-grotesk-roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
